
  #glass {
    fill: #ffffff;
    stroke: #cccccc;
    stroke-width: 3;
  }

  #container {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 5;
  }
#water {
  fill: #fc0000;
  stroke: #ff0000;
  stroke-width: 0;
}
#highlight {
  fill:none;
  stroke: #cccccc;
  stroke-width: 1.5;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}